<%= form_for([:teacher, @teacher_courseware]) do |f| %>
  <% if @teacher_courseware.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_courseware.errors.count, "error") %> prohibited this teacher_courseware from being saved:</h2>

      <ul>
      <% @teacher_courseware.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
