<p>
  <b>Tea no:</b>
  <%= @teacher.tea_no %>
</p>

<p>
  <b>Name:</b>
  <%= @teacher.name %>
</p>

<%= link_to 'Edit', edit_admin_teacher_path(@teacher) %> |
<%= link_to 'Back', admin_teachers_path %>
