<% @page_title= "欢迎你进入#{@course.name}课程学习" -%>

<div class="title"><%= h @course.name %>课程安排</div>
<div class="content"><%=  simple_format(h(@course.arrangement)) %></div>

<%= link_to '返回', [:student, @course] %>
</div>



