<% @page_title=@course.name+"课程管理"  -%>
<div class="title">修改试题</div>

<%= render 'form' %>

<%= link_to 'Show', [:teacher, @course, @exam, @question] %> |
<%= link_to 'Back', teacher_course_exam_questions_path(@course, @exam) %>
