<% @page_title=@course.name+"课程管理"  -%>
<div class="title">回复留言</div>
<div class="content">
<%= render 'form' %>
</div>
<%= link_to '显示', [:teacher, @course, @message] %> |
<%= link_to '返回', teacher_course_messages_path(@course) %>
