<h1>Listing teacher_notifies</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teacher_notifies.each do |teacher_notify| %>
  <tr>
    <td><%= link_to 'Show', teacher_notify %></td>
    <td><%= link_to 'Edit', edit_teacher_notify_path(teacher_notify) %></td>
    <td><%= link_to 'Destroy', teacher_notify, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notify', new_teacher_notify_path %>
