<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title || @student.name+"同学的课堂" %></title>
  <%= stylesheet_link_tag 'scaffold', 'jcai', 'student', :media => "all" %>
</head>
<body>
  <div id="banner" align="center">
    <%= @page_title || @student.name+"同学的课堂" %>
  </div>
  <div id="columns">
    <div id="side">
      <div class="subtitle">我的课程</div>
      <div class="subleft"></div>
      <div class="subright">
        <% for course in @courses -%>
          <%= link_to course.name, :controller => 'course', :action => 'course', :id =>course %><br />
        <% end -%>
      </div>
      <div class="subtitle">个人设置</div>
      <div class="subleft"></div>
      <div class="subright">
        <%= link_to '更改密码', :controller => '/login', :action => 'change_password' %><br />
        <%= link_to '退出系统', :controller => '/login', :action => 'logout' %><br />
      </div>
    </div>
    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <div id="course">
      <%= yield  %>
      </div>
    </div>
  </div>
  <div id="footer" align="center">
    All Rights Resered by Jin 2007~2010
  </div>
</body>
</html>
